@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-transition-enter {
  translate: -100vw;
  opacity: .3;
}
.reverse .calendar-transition-enter {
  translate: 100vw;
}
.calendar-transition-enter-active,
.reverse .calendar-transition-enter-active  {
  translate: 0vw;
  opacity: 1;
  transition: all 300ms ease-in;
}

.calendar-transition-exit {
  translate: 0vw;
  opacity: 1;
  position: fixed;
}
.calendar-transition-exit-active {
  translate: 100vw;
  opacity: .3;
  transition: all 300ms ease-in;
}
.reverse .calendar-transition-exit-active {
  translate: -100vw;
}