@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-transition-enter {
  translate: -100vw;
  opacity: .3;
}
.reverse .calendar-transition-enter {
  translate: 100vw;
}
.calendar-transition-enter-active,
.reverse .calendar-transition-enter-active  {
  translate: 0vw;
  opacity: 1;
  transition: all 300ms ease-in;
}

.calendar-transition-exit {
  translate: 0vw;
  opacity: 1;
  position: fixed;
}
.calendar-transition-exit-active {
  translate: 100vw;
  opacity: .3;
  transition: all 300ms ease-in;
}
.reverse .calendar-transition-exit-active {
  translate: -100vw;
}

.modal-effect-enter {
  opacity: .2;
}
.modal-effect-enter-active {
  opacity: 1;
  transition: all ease 300ms;
}
.modal-effect-exit {
  opacity: 1;
}
.modal-effect-exit-active {
  opacity: .2;
  transition: all ease 300ms;
}
.modal-effect-enter .dialog-content {
  translate: 0 -100vh;
}
.modal-effect-enter-active .dialog-content {
  translate: 0 0;
  transition: all ease 300ms;
}
.modal-effect-exit .dialog-content {
  translate: 0 0;
}
.modal-effect-exit-active .dialog-content {
  translate: 0 -50vh;
  transition: all ease 300ms;
}
